<!--
/**
  *
  * @author Konstantin Bogdanoski (konstantin.b@live.com)
  *
  */
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/productPage.css">
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>LIST OF ALL PRODUCTS</h1>
    <ul class="list-group list myList" th:each="product : ${productList}">
        <a th:href="@{/productPage/productID(ID=${product.id})}">
        <li class="list-group-item myList">
            <strong th:text="${product.name}"></strong>
            <br>
            <span th:text="${product.manufacturer.name}"></span>
            <img th:src="${product.linkToImg}" class="productImg">
        </li>
        </a>
    </ul>
</div>
<div class="container">
    <button class="btn btn-primary myButton" onclick="location.href='/productAdd'">Add new product</button>
</div>
</body>
</html>