<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="../static/assets/vendor/bootstrap/bootstrap.min.css">
    <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="../static/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="../static/assets/vendor/popper.min.js"></script>
    <script src="../static/assets/vendor/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <ul class="list-group" th:each="product : ${productList}">
        <li class="list-group-item list-group-item-success" th:text="${product.name}"></li>
    </ul>
</div>
</body>
</html>