body{
    background: darkgrey;
    text-align: center;
}
#inputForm{
    background: white;
    display: inline-block;
    width: 500px;
    border: dashed 2px black;
    padding: 20px;
    margin: 20px;
}

.mySelect{
    width: 200px;
}