<!--
/**
  *
  * @author Konstantin Bogdanoski (konstantin.b@live.com)
  *
  */
-->
body{
    text-align: center;
}

.myButton{
    position: absolute;
}

.productImg{
    width: 100px;
    height: 100px;
    display: inline-block;
    float: right;
}
.myList:hover{
    background: darkgray;
}
.myList{
    display: inline-block;
    float: left;
    width: 250px;
    margin: 5px;
}

a{
    color: black;
    margin: 0;
    padding: 0;
}
a:hover{
    color: black;
}